name: Deploy a Surge

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Surge
        run: npm install -g surge

      - name: Deploy to Surge
        env:
          SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN}}
        run: surge ./ devops-itla-coiz34.surge.sh

        - name: Notify ntfy (deploy ok)
  if: success()
  run: |
    curl -H "Title:  Deploy realizado con exito!" \
         -H "Priority: high" \
         -d "Repo: ${{ github.repository }} | Rama: ${{ github.ref_name }} | Commit: ${{ github.sha }} | Autor: ${{ github.actor }} | URL: https://parcial1devops-coiz34.surge.sh" \
         https://ntfy.sh/Parcial1DevOps